#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Boxes *************************/
.box-container {
  height: 450px;
  display: grid !important;
  gap: 1rem;
}

.box1 {
  grid-area: box1;
  border-radius: 2vw 4vw;
}

.box2, .box3 { border-radius: 2vw; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }

/* 
  BOX1 OPEN =
  grid-template-areas: 
  "box1 box2"
  "box1 box3"
  ;

  BOX2 OPEN =
  grid-template-areas: 
  "box1 box2"
  "box3 box2"
  ;

  BOX3 OPEN =
  grid-template-areas: 
  "box1 box3"
  "box2 box3"
  ;

*/